Repository techminds-unipd/docs, pull requests merged in 2024-12, with the labels that each got.

#95 User story 3
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#134 fix use case della registrazione
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#135 fix creazione e salvataggio workflow
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#136 Fix uc10 uc12
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#137 Pdp refactoring
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_progetto/include/periodi.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint1.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint2.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
  template/template.typ
Labels: Piano di progetto

#132 Processi organizzativi NdP
  RTB/documenti_interni/norme_progetto/include/introduzione.typ
  RTB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
  RTB/documenti_interni/norme_progetto/include/processi-primari.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#141 Adr sezioni 3.1 3.2
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_progetto/include/periodi.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
  RTB/documenti_esterni/verbali/firmati/2024-12-11-Firmato.pdf
  RTB/documenti_interni/norme_progetto/include/introduzione.typ
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  RTB/documenti_interni/norme_progetto/include/processi-primari.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Analisi dei requisiti

#140 UC Visualizzazione blocchi configurati
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#147 Fix generale uc
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#146 UC blocco Gmail
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#145 UC Logout
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#162 Fix AdR
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#163 Fix creazione workflow vuoto
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#168 UC approfondimento - backend
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#165 UC modifica workflow
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#170 Aggiunta consuntivo sprint 2 e diagramma di Gantt
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint2.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#169 Processi primari sviluppo
  RTB/documenti_interni/norme_progetto/include/introduzione.typ
  RTB/documenti_interni/norme_progetto/include/processi-primari.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto
