Repository techminds-unipd/docs, pull requests merged in 2025-04, with the labels that each got.

#572 Validazione specifica
  PB/documenti_esterni/specifica_tecnica/assets/architettura-deployment.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/connection_google_request.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/connection_google_response.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/create_workflow.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/delete_workflow.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/diagramma_backend.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/execute_workflow.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/get_workflow.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/login_user.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/register_user.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/save_workflow.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/workflow_name_list.svg
  PB/documenti_esterni/specifica_tecnica/assets/diagramma-agente.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/AboutUs.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/AllWorkflowsService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/CreateWorkflowService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/CustomButton.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/CustomLink.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/CustomNode.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/DeleteWorkflowService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/ExecuteWorkflowService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/Footer.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/GetWorkflowService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/LoginService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/LogoutMenuItem.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/Navbar.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/PersonCard.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/RegisterService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/SaveWorkflowService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/SignInForm.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/SignUp.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/SignUpForm.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/UserDTO.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/WorkflowDTO.svg
  PB/documenti_esterni/specifica_tecnica/include/agente.typ
  PB/documenti_esterni/specifica_tecnica/include/architettura_deployment.typ
  PB/documenti_esterni/specifica_tecnica/include/architettura_logica.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/backend.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/connection_google_response.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/create_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/delete_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/execute_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/get_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/login_user.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/register_user.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/save_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/workflow_name_list.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/LoginUser_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/componenti.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/create_workflow_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/delete_workflow_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/execute_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/get_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/pagine.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/registerUser.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/save_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/workflow_name_list_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/introduzione.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#575 Aggiornati link analisi
  PB/documenti_esterni/analisi_requisiti/include/definizione_requisiti.typ
  PB/documenti_esterni/analisi_requisiti/include/introduzione.typ
  PB/documenti_interni/glossario/glossario.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Analisi dei requisiti

#574 Pdp finale
  PB/documenti_esterni/piano_progetto/include/considerazioni-finali.typ
  PB/documenti_esterni/piano_progetto/include/introduzione.typ
  PB/documenti_esterni/piano_progetto/include/periodi.typ
  PB/documenti_esterni/piano_progetto/include/sprint/sprint7.typ
  PB/documenti_esterni/piano_progetto/include/sprint/sprint8.typ
  PB/documenti_esterni/piano_progetto/include/sprint/sprint9.typ
  PB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#576 Ultime correzioni glossario
  PB/documenti_interni/glossario/glossario.typ
Labels: Glossario

#578 Validazione manuale utente
  PB/documenti_esterni/manuale_utente/include/dashboard.typ
  PB/documenti_esterni/manuale_utente/include/home.typ
  PB/documenti_esterni/manuale_utente/include/introduzione.typ
  PB/documenti_esterni/manuale_utente/include/istruzioni-uso.typ
  PB/documenti_esterni/manuale_utente/manuale-utente.typ
Labels: Manuale utente

#577 Validazione norme
  PB/documenti_esterni/piano_qualifica/include/miglioramenti.typ
  PB/documenti_interni/norme_progetto/include/introduzione.typ
  PB/documenti_interni/norme_progetto/include/metriche.typ
  PB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  PB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
  PB/documenti_interni/norme_progetto/include/processi-primari.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#580 Validazione pdp
  PB/documenti_esterni/piano_progetto/include/considerazioni-finali.typ
Labels: Piano di qualifica

#579 Validazione pdq
  PB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  PB/documenti_esterni/piano_qualifica/include/definizione-test.typ
  PB/documenti_esterni/piano_qualifica/include/introduzione.typ
  PB/documenti_esterni/piano_qualifica/include/miglioramenti.typ
  PB/documenti_esterni/piano_qualifica/include/qualita-processo.typ
  PB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  PB/documenti_esterni/piano_qualifica/include/testing.typ
Labels: Piano di qualifica
