Repository techminds-unipd/docs, pull requests merged in 2025-01, with the labels that each got.

#171 aggiunta preventivo sprint 3
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_progetto/include/periodi.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint2.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint3.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#176 Fix UC modifica
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#173 UC visualizzazione workflow
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#178 Fix pianificazione sprint 3 in PdP
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint1.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint2.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint3.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#175 Norme di progetto, sezione verifica e validazione (processi di supporto)
  RTB/documenti_interni/norme_progetto/include/introduzione.typ
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#177 Modifica sezione processi di supporto
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#180 UC blocco pastebin
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#182 UC blocco Calendar
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#179 UC approfondimento frontend
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#183 Fix Piano di Qualifica
  RTB/documenti_esterni/piano_qualifica/include/introduzione.typ
  RTB/documenti_esterni/piano_qualifica/include/miglioramenti.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#185 184 completamento tabella requisiti funzionali
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/requisiti.typ
Labels: Analisi dei requisiti

#186 Update glossario
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/descrizione.typ
  RTB/documenti_esterni/analisi_requisiti/include/introduzione.typ
  RTB/documenti_esterni/piano_progetto/include/introduzione.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
  RTB/documenti_esterni/piano_qualifica/include/introduzione.typ
  RTB/documenti_interni/glossario/glossario.typ
  RTB/documenti_interni/norme_progetto/include/introduzione.typ
  RTB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Glossario

#202 Fix anno nome file verbale (2024 -> 2025)
  RTB/documenti_interni/verbali/2025-01-13.typ
Labels: fix

#203 Aggiunto diagramma Gantt e consuntivo sprint 3
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint2.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint3.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#204 Aggiunto preventivo sprint 4
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_progetto/include/periodi.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint4.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#207 feat: aggiunto campo use case 'Descrizione' nell'introduzione e aggiunta descrizione UC3 e UC4
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/introduzione.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#205 #197 redazione sezione gestione operativa
  RTB/documenti_interni/norme_progetto/include/processi-primari.typ
Labels: Norme di progetto

#212 Tabella dei requisiti di qualità
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/requisiti.typ
  RTB/documenti_interni/glossario/glossario.typ
Labels: Analisi dei requisiti

#213 Refactoring UC13 e alcuni fix
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#215 Tabella requisiti di vincolo
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/requisiti.typ
  RTB/documenti_interni/glossario/glossario.typ
Labels: Analisi dei requisiti

#218 refactoring indice pdq
  RTB/documenti_esterni/piano_qualifica/include/introduzione.typ
  RTB/documenti_esterni/piano_qualifica/include/metriche-qualita.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-obiettivo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-processo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#220 Use case eliminazione workflow
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#219 Fix UC19 e aggiunta UC29
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#223 qualita obiettivo processi supporto
  .github/workflows/indice_gulpease.py
  RTB/documenti_esterni/piano_qualifica/include/qualita-obiettivo.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#222 Stesura delle tabelle delle metriche della qualità di prodotto
  RTB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica
