Repository techminds-unipd/docs, pull requests merged in 2025-02, with the labels that each got.

#224 Aggiunta qualità processi organizzativi
  RTB/documenti_esterni/piano_qualifica/include/miglioramenti.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-obiettivo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#225 Qualità processi primari e qualità per processo
  RTB/documenti_esterni/piano_qualifica/include/qualita-obiettivo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-processo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
  RTB/documenti_interni/glossario/glossario.typ
Labels: Piano di qualifica

#241 Modifica id metriche
  RTB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-obiettivo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-processo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  RTB/documenti_esterni/piano_qualifica/include/testing.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Piano di qualifica, Norme di progetto

#243 Refactoring analisi requisiti
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/requisiti.typ
  template/template.typ
Labels: Analisi dei requisiti

#244 Tolta sezione metriche in ndp
  RTB/documenti_interni/norme_progetto/include/processi-primari.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#242 Fix caption tabelle pdq
  RTB/documenti_esterni/piano_qualifica/include/qualita-obiettivo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-processo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#246 Modifiche tabelle pianificazione e miglioramento
  RTB/documenti_esterni/piano_qualifica/include/qualita-obiettivo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-processo.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#247 Uniformare date
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
Labels: fix

#251 227 refactoring pdq
  RTB/documenti_esterni/piano_qualifica/include/definizione-metriche.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-obiettivo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-processo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
Labels: Piano di qualifica

#250 Aggiornamento ndp
  RTB/documenti_esterni/piano_progetto/include/analisi-dei-rischi.typ
  RTB/documenti_interni/norme_progetto/include/introduzione.typ
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  RTB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
  RTB/documenti_interni/norme_progetto/include/processi-primari.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#257 Grafico metriche AC + ETC + EAC
  RTB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  RTB/documenti_esterni/piano_qualifica/include/definizione-metriche.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#265 Grafico caption
  RTB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#270 Aggiunto grafico metrica rischi non previsti
  RTB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#271 Grafico gulpease
  RTB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#263 Aggiunta descrizione struttura sprint
  RTB/documenti_esterni/piano_progetto/include/periodi.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#267 Aggiunte metriche EV, PV, SV, CV al cruscotto
  RTB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
  template/template.typ
Labels: Piano di qualifica

#277 CPI ed SPI cruscotto
  RTB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  RTB/documenti_esterni/piano_qualifica/include/definizione-metriche.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-obiettivo.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#273 Consuntivo sprint 4
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint3.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint4.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#279 Correzioni pdq
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  RTB/documenti_esterni/piano_qualifica/include/definizione-metriche.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-obiettivo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
Labels: Piano di qualifica

#289 Budget e costi
  .github/workflows/indice_gulpease.py
  RTB/documenti_esterni/piano_progetto/include/periodi.typ
  RTB/documenti_esterni/piano_progetto/include/pianificazione.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#291 Cruscotto metriche soddisfatte e ottimali
  RTB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#292 Aggiunta definizione test glossario
  RTB/documenti_interni/glossario/glossario.typ
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
Labels: Glossario

#298 Rimossa lista delle figure dal glossario
  template/template.typ
Labels: Glossario

#297 Documentato aggiornamento cruscotto in ndp
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#296 Pianificazione sprint 5
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_progetto/include/periodi.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint5.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#305 Validazione NdP
  RTB/documenti_interni/norme_progetto/include/introduzione.typ
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  RTB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
  RTB/documenti_interni/norme_progetto/include/processi-primari.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#306 Validazione pdq
  RTB/documenti_esterni/piano_qualifica/include/definizione-metriche.typ
  RTB/documenti_esterni/piano_qualifica/include/introduzione.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  RTB/documenti_esterni/piano_qualifica/include/testing.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#308 Validazione pdp
  RTB/documenti_esterni/piano_progetto/include/introduzione.typ
  RTB/documenti_esterni/piano_progetto/include/periodi.typ
  RTB/documenti_esterni/piano_progetto/include/pianificazione.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint1.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#307 Link documenti con informazioni aggiuntive
  RTB/documenti_esterni/piano_progetto/include/introduzione.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint1.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint2.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint3.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint4.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint5.typ
  RTB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  RTB/documenti_esterni/piano_qualifica/include/introduzione.typ
  RTB/documenti_esterni/piano_qualifica/include/testing.typ
  RTB/documenti_interni/norme_progetto/include/introduzione.typ
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  RTB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
Labels: Piano di progetto, Piano di qualifica, Norme di progetto

#315 Gestione link
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  RTB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#316 Sito vetrina ndp e Gantt
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  RTB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#295 Test di sistema
  .github/workflows/build_deploy.yml
  .github/workflows/indice_gulpease.py
  .github/workflows/ordinamento_glossario.py
  .github/workflows/pr_test.yml
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_progetto/include/introduzione.typ
  RTB/documenti_esterni/piano_progetto/include/periodi.typ
  RTB/documenti_esterni/piano_progetto/include/pianificazione.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint1.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint2.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint3.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint4.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint5.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
  RTB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  RTB/documenti_esterni/piano_qualifica/include/definizione-metriche.typ
  RTB/documenti_esterni/piano_qualifica/include/introduzione.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  RTB/documenti_esterni/piano_qualifica/include/testing.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
  RTB/documenti_interni/glossario/glossario.typ
  RTB/documenti_interni/norme_progetto/include/introduzione.typ
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  RTB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
  RTB/documenti_interni/norme_progetto/include/processi-primari.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
  RTB/documenti_interni/verbali/2025-02-07.typ
  template/template.typ
Labels: Piano di qualifica

#319 Aggiunto script "ordinamento_glossario" tra gli script usati per la validazione della documentazione in ndp
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
Labels: Norme di progetto

#320 Piccoli fix ndp
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  RTB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
  RTB/documenti_interni/norme_progetto/include/processi-primari.typ
  RTB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#323 Test sistema
  RTB/documenti_esterni/piano_qualifica/include/testing.typ
  RTB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#329 Consuntivo sprint5
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_progetto/include/periodi.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint5.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
  RTB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
Labels: Piano di progetto, Piano di qualifica

#348 #336 correzioni visualizzazione e creazione workflow
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#347 Gantt + PaF pdp
  RTB/documenti_esterni/piano_progetto/include/periodi.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint1.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint2.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint3.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint4.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint5.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#353 Fix errore operazione workflow
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#351 Preventivo 6
  RTB/documenti_esterni/piano_progetto/include/costi.typ
  RTB/documenti_esterni/piano_progetto/include/periodi.typ
  RTB/documenti_esterni/piano_progetto/include/pianificazione.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint1.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint2.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint3.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint4.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint5.typ
  RTB/documenti_esterni/piano_progetto/include/sprint/sprint6.typ
  RTB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#355 Fix ordine uc
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#354 339 correzione requisiti qualità e vincolo
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/requisiti.typ
Labels: Analisi dei requisiti

#356 Rendere atomici requisiti, trovare altri requisiti.
  .github/workflows/build_deploy.yml
  .github/workflows/pr_test.yml
  RTB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/definizione_requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/requisiti.typ
  RTB/documenti_esterni/analisi_requisiti/include/use_cases.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-obiettivo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-processo.typ
  RTB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  RTB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
Labels: Analisi dei requisiti

#379 Indice iniziale specifica tecnica
  PB/documenti_esterni/specifica_tecnica/include/architettura_deploy.typ
  PB/documenti_esterni/specifica_tecnica/include/architettura_sistema.typ
  PB/documenti_esterni/specifica_tecnica/include/introduzione.typ
  PB/documenti_esterni/specifica_tecnica/include/stato_requisiti_funzionali.typ
  PB/documenti_esterni/specifica_tecnica/include/tecnologie.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#378 Togliere changelog
  RTB/documenti_interni/verbali/2024-11-08.typ
  RTB/documenti_interni/verbali/2024-11-11.typ
  RTB/documenti_interni/verbali/2024-11-18.typ
  RTB/documenti_interni/verbali/2024-12-09.typ
  RTB/documenti_interni/verbali/2024-12-23.typ
  RTB/documenti_interni/verbali/2025-01-13.typ
  RTB/documenti_interni/verbali/2025-02-04.typ
  RTB/documenti_interni/verbali/2025-02-07.typ
  RTB/documenti_interni/verbali/2025-02-14.typ
  RTB/documenti_interni/verbali/2025-02-17.typ
  candidatura/documenti_interni/verbali/2024-10-15.typ
  candidatura/documenti_interni/verbali/2024-10-17.typ
  candidatura/documenti_interni/verbali/2024-10-25.typ
  candidatura/documenti_interni/verbali/2024-10-28.typ
  candidatura/documenti_interni/verbali/2024-10-29.typ
  candidatura/documenti_interni/verbali/2024-11-04.typ
  template/template.typ
Labels: fix

#382 Introduzione specifica tecnica
  PB/documenti_esterni/specifica_tecnica/include/introduzione.typ
  PB/documenti_esterni/specifica_tecnica/include/tecnologie.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#384 Consuntivo sprint 6, fix script, fix calcolo piano di qualifica
  .github/workflows/check_glossario.py
  .github/workflows/indice_gulpease.py
  PB/documenti_esterni/piano_progetto/include/costi.typ
  PB/documenti_esterni/piano_progetto/include/periodi.typ
  PB/documenti_esterni/piano_progetto/include/sprint/sprint6.typ
  PB/documenti_esterni/piano_progetto/piano-di-progetto.typ
  PB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
  PB/documenti_interni/glossario/glossario.typ
Labels: Piano di progetto, Piano di qualifica

#386 Aggiornamento README
  README.md
Labels: fix

#393 Introduzione progettazione
  PB/documenti_esterni/specifica_tecnica/assets/architettura-sistema.svg
  PB/documenti_esterni/specifica_tecnica/include/architettura_sistema.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#394 Preventivo sprint 7
  PB/documenti_esterni/piano_progetto/include/costi.typ
  PB/documenti_esterni/piano_progetto/include/periodi.typ
  PB/documenti_esterni/piano_progetto/include/sprint/sprint6.typ
  PB/documenti_esterni/piano_progetto/include/sprint/sprint7.typ
  PB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#383 Funzioni glossario e scopo-prodotto
  .github/workflows/indice_gulpease.py
  PB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  PB/documenti_esterni/analisi_requisiti/include/introduzione.typ
  PB/documenti_esterni/piano_progetto/include/introduzione.typ
  PB/documenti_esterni/piano_progetto/piano-di-progetto.typ
  PB/documenti_esterni/piano_qualifica/include/introduzione.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
  PB/documenti_esterni/specifica_tecnica/include/introduzione.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
  PB/documenti_interni/norme_progetto/include/introduzione.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
  template/template.typ
Labels: fix

#388 Tecnologie specifica tecnica
  PB/documenti_esterni/specifica_tecnica/include/architettura_sistema.typ
  PB/documenti_esterni/specifica_tecnica/include/tecnologie.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
  PB/documenti_interni/glossario/glossario.typ
Labels: Specifica tecnica

#396 Documentazione milestone
  PB/documenti_esterni/piano_progetto/include/pianificazione.typ
  PB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#397 Ridondanza metriche piano qualifica
  PB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  PB/documenti_esterni/piano_qualifica/include/definizione-metriche.typ
  PB/documenti_esterni/piano_qualifica/include/metriche-qualita.typ
  PB/documenti_esterni/piano_qualifica/include/qualita-obiettivo.typ
  PB/documenti_esterni/piano_qualifica/include/qualita-processo.typ
  PB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
  PB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Piano di qualifica

#399 Aggiunta nuovi requisiti
  PB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  PB/documenti_esterni/analisi_requisiti/include/definizione_requisiti.typ
  PB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti
