Repository techminds-unipd/docs, pull requests merged in 2025-03, with the labels that each got.

#403 Aggiunta test di sistema con funzione
  PB/documenti_esterni/analisi_requisiti/include/definizione_requisiti.typ
  PB/documenti_esterni/piano_qualifica/include/definizione-test.typ
  PB/documenti_esterni/piano_qualifica/include/testing.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#400 Aggiornamento sito, alcuni fix CI
  .github/workflows/build_deploy.yml
  .github/workflows/build_sources.py
  .github/workflows/pr_test.yml
  .gitignore
  template/index.html
Labels: fix

#408 Sistemata struttura elenchi verbale in NDP
  PB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#406 Creare funzione ore persona in piano di progetto
  PB/documenti_esterni/piano_progetto/include/costi.typ
Labels: Piano di progetto

#410 Fix favicon
  .github/workflows/build_html.py
  template/assets/logo_favicon.png
  template/assets/round_logo.png
  template/index.html
Labels: fix

#409 Definizione metriche in ndp
  PB/documenti_esterni/piano_qualifica/include/definizione-metriche.typ
  PB/documenti_esterni/piano_qualifica/include/qualita-processo.typ
  PB/documenti_esterni/piano_qualifica/include/qualita-prodotto.typ
  PB/documenti_interni/glossario/glossario.typ
  PB/documenti_interni/norme_progetto/include/metriche.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#412 Aggiunta miglioramento
  PB/documenti_esterni/piano_qualifica/include/miglioramenti.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#414 Fix adr
  PB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  PB/documenti_esterni/analisi_requisiti/include/definizione_requisiti.typ
  PB/documenti_esterni/analisi_requisiti/include/use_cases.typ
  PB/documenti_esterni/piano_qualifica/include/definizione-test.typ
Labels: Analisi dei requisiti

#416 Fix estetico sito
  template/assets/logo_favicon.png
  template/index.html
  template/style.css
Labels: fix

#411 Test accettazione
  PB/documenti_esterni/piano_qualifica/include/definizione-test.typ
  PB/documenti_esterni/piano_qualifica/include/testing.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#418 Riunioni periodiche in ndp
  PB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  PB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
  PB/documenti_interni/norme_progetto/include/processi-primari.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#420 Uso parola fase
  PB/documenti_esterni/piano_progetto/include/analisi-dei-rischi.typ
  PB/documenti_esterni/piano_progetto/include/periodi.typ
  PB/documenti_esterni/piano_progetto/piano-di-progetto.typ
  PB/documenti_esterni/piano_qualifica/include/definizione-metriche.typ
  PB/documenti_esterni/piano_qualifica/include/testing.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
  PB/documenti_interni/glossario/glossario.typ
  PB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  PB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
  PB/documenti_interni/norme_progetto/include/processi-primari.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
  template/index.html
Labels: fix

#421 Tolta verbosità check glossario CI
  .github/workflows/build_deploy.yml
  .github/workflows/check_glossario.py
  .github/workflows/pr_test.yml
Labels: fix

#422 Gestione configurazione mvp
  PB/documenti_interni/glossario/glossario.typ
  PB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  PB/documenti_interni/norme_progetto/include/processi-organizzativi.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#426 Modificate metriche qualità di prodotto pdq
  PB/documenti_esterni/piano_qualifica/include/definizione-metriche.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#424 Backend intro
  PB/documenti_esterni/specifica_tecnica/assets/backend_diagramma_classi.svg
  PB/documenti_esterni/specifica_tecnica/include/backend.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#432 Backend - funzionalità register user
  PB/documenti_esterni/specifica_tecnica/assets/backend_register_user_diagramma_classi.svg
  PB/documenti_esterni/specifica_tecnica/include/backend.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#460 Consuntivo sprint 7
  PB/documenti_esterni/piano_progetto/include/costi.typ
  PB/documenti_esterni/piano_progetto/include/periodi.typ
  PB/documenti_esterni/piano_progetto/include/sprint/sprint5.typ
  PB/documenti_esterni/piano_progetto/include/sprint/sprint7.typ
  PB/documenti_esterni/piano_progetto/piano-di-progetto.typ
  PB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di progetto

#461 Completata sezione progettazione ndp
  PB/documenti_interni/norme_progetto/assets/aggregazione.svg
  PB/documenti_interni/norme_progetto/assets/associazione.svg
  PB/documenti_interni/norme_progetto/assets/classe.svg
  PB/documenti_interni/norme_progetto/assets/classe_astratta.svg
  PB/documenti_interni/norme_progetto/assets/composizione.svg
  PB/documenti_interni/norme_progetto/assets/dipendenza.svg
  PB/documenti_interni/norme_progetto/assets/generalizzazione.svg
  PB/documenti_interni/norme_progetto/assets/interfaccia.svg
  PB/documenti_interni/norme_progetto/assets/realizzazione.svg
  PB/documenti_interni/norme_progetto/include/introduzione.typ
  PB/documenti_interni/norme_progetto/include/processi-primari.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#464 Preventivo sprint 8
  PB/documenti_esterni/piano_progetto/include/costi.typ
  PB/documenti_esterni/piano_progetto/include/periodi.typ
  PB/documenti_esterni/piano_progetto/include/sprint/sprint8.typ
  PB/documenti_esterni/piano_progetto/piano-di-progetto.typ
Labels: Piano di progetto

#465 Documentazione footer
  PB/documenti_esterni/specifica_tecnica/include/frontend.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#463 Sezione codifica e testing ndp
  PB/documenti_interni/norme_progetto/include/metriche.typ
  PB/documenti_interni/norme_progetto/include/processi-primari.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#467 Aggiunta descrizione funzionalità backend CreateWorkflow SP
  .github/workflows/indice_gulpease.py
  PB/documenti_esterni/specifica_tecnica/include/backend/backend.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/create_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/functions.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/funzioni_ausiliarie.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/login_user.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/register_user.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#470 Navbar e altri componenti
  PB/documenti_esterni/specifica_tecnica/assets/frontend/CustomButton.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/CustomLink.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/LogoutMenuItem.svg
  PB/documenti_esterni/specifica_tecnica/include/architettura_sistema.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/componenti.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/pagine.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#471 Descrizione pagina home FE
  PB/documenti_esterni/specifica_tecnica/include/frontend/frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/pagine.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#472 Descrizione About us e PersonCard
  PB/documenti_esterni/specifica_tecnica/assets/frontend/AboutUs.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/PersonCard.svg
  PB/documenti_esterni/specifica_tecnica/include/frontend/componenti.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/pagine.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#469 Descritta funzionalità backend DeleteWorkflow
  PB/documenti_esterni/specifica_tecnica/include/backend/backend.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/create_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/delete_workflow.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#466 Descritta funzionalità GetWorkflow backend
  PB/documenti_esterni/specifica_tecnica/assets/backend_get_workflow_diagramma_classi.svg
  PB/documenti_esterni/specifica_tecnica/include/backend/backend.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/get_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/login_user.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/register_user.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#468 descritta funzionalità workflowNameList backend
  PB/documenti_esterni/specifica_tecnica/include/backend/backend.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/workflow_name_list.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#473 descritta funzionalità backend SaveWorkflow
  PB/documenti_esterni/specifica_tecnica/include/backend/backend.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/save_workflow.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#478 Backend google auth
  PB/documenti_esterni/specifica_tecnica/include/backend/backend.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/connection_google_request.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/connection_google_response.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/create_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/delete_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/get_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/login_user.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/register_user.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/save_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/workflow_name_list.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#479 Aggiunta descrizione dati backend
  PB/documenti_esterni/specifica_tecnica/include/backend/backend.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#477 Descritto database specifica tecnica
  PB/documenti_esterni/specifica_tecnica/assets/backend/diagramma_classi.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/get_workflow_diagramma_classi.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/login_user_diagramma_classi.svg
  PB/documenti_esterni/specifica_tecnica/assets/backend/register_user_diagramma_classi.svg
  PB/documenti_esterni/specifica_tecnica/assets/database.svg
  PB/documenti_esterni/specifica_tecnica/include/backend/backend.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/connection_google_request.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/connection_google_response.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/create_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/delete_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/execute_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/get_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/login_user.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/register_user.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/save_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/workflow_name_list.typ
  PB/documenti_esterni/specifica_tecnica/include/database.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#481 descritto agente
  PB/documenti_esterni/specifica_tecnica/assets/diagramma-agente.svg
  PB/documenti_esterni/specifica_tecnica/include/agente.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#488 backend design pattern
  PB/documenti_esterni/piano_qualifica/include/definizione-test.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/backend.typ
  PB/documenti_esterni/specifica_tecnica/include/stato_requisiti_funzionali.typ
Labels: Specifica tecnica

#497 Consuntivo sprint 8
  PB/documenti_esterni/piano_progetto/include/costi.typ
  PB/documenti_esterni/piano_progetto/include/sprint/sprint8.typ
  PB/documenti_esterni/piano_progetto/piano-di-progetto.typ
  PB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di progetto

#491 FE documentazione autenticazione
  PB/documenti_esterni/specifica_tecnica/include/backend/login_user.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/LoginUser_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/autenticazione.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/componenti.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/funzioni_ausiliarie.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/pagine.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#490 Descrizione dashboard e vari componenti
  PB/documenti_esterni/specifica_tecnica/assets/frontend/CustomLink.svg
  PB/documenti_esterni/specifica_tecnica/include/frontend/componenti.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/create_workflow_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/delete_workflow_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/pagine.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/workflow_name_list_frontend.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#501 documentato WorkflowAdapterImplementation
  PB/documenti_esterni/specifica_tecnica/include/backend/backend.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/delete_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/execute_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/get_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/save_workflow.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#502 Descritti test integrazione backend pdq
  PB/documenti_esterni/piano_qualifica/include/definizione-test.typ
  PB/documenti_esterni/piano_qualifica/include/testing.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#493 Descrizione frontend customnodes
  PB/documenti_esterni/specifica_tecnica/assets/frontend/CustomNode.svg
  PB/documenti_esterni/specifica_tecnica/include/frontend/componenti.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#504 Struttura manuale utente
  .github/workflows/indice_gulpease.py
  PB/documenti_esterni/manuale_utente/include/introduzione.typ
  PB/documenti_esterni/manuale_utente/include/istruzioni-uso.typ
  PB/documenti_esterni/manuale_utente/include/requisiti.typ
  PB/documenti_esterni/manuale_utente/manuale-utente.typ
Labels: Manuale utente

#505 Struttura documenti norme di progetto
  PB/documenti_esterni/piano_progetto/include/periodi.typ
  PB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  PB/documenti_interni/norme_progetto/include/processi-primari.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
  candidatura/documenti_esterni/presentazione_candidatura/dichiarazione-impegni.typ
  candidatura/documenti_esterni/presentazione_candidatura/studio-capitolati.typ
Labels: Norme di progetto

#527 Descritto sign in manuale utente
  PB/documenti_esterni/manuale_utente/assets/SignIn.png
  PB/documenti_esterni/manuale_utente/include/istruzioni-uso.typ
  PB/documenti_esterni/manuale_utente/include/sign-in.typ
  PB/documenti_esterni/manuale_utente/manuale-utente.typ
Labels: Manuale utente

#529 Descrizione frontend services
  PB/documenti_esterni/specifica_tecnica/include/frontend/LoginUser_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/google_token.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/pagine.typ
  PB/documenti_esterni/specifica_tecnica/include/introduzione.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
  PB/documenti_interni/glossario/glossario.typ
Labels: Specifica tecnica

#530 Services manuale utente
  PB/documenti_esterni/manuale_utente/assets/InfoService.png
  PB/documenti_esterni/manuale_utente/assets/Services.png
  PB/documenti_esterni/manuale_utente/include/istruzioni-uso.typ
  PB/documenti_esterni/manuale_utente/include/services.typ
  PB/documenti_esterni/manuale_utente/manuale-utente.typ
Labels: Manuale utente

#492 Pdq test unità backend e agente
  PB/documenti_esterni/piano_qualifica/include/definizione-test.typ
  PB/documenti_esterni/piano_qualifica/include/testing.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#531 Aggiornamento cruscotto
  PB/documenti_esterni/piano_qualifica/include/controllo-metriche.typ
  PB/documenti_esterni/piano_qualifica/include/definizione-metriche.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#533 Limiti soluzione in specifica tecnica
  PB/documenti_esterni/specifica_tecnica/include/architettura_deploy.typ
  PB/documenti_esterni/specifica_tecnica/include/limiti_soluzione.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#534 Dashboard, SignUp e About Us manuale utente
  PB/documenti_esterni/manuale_utente/assets/AboutUs.png
  PB/documenti_esterni/manuale_utente/assets/SignUp.png
  PB/documenti_esterni/manuale_utente/assets/addWorkflow.png
  PB/documenti_esterni/manuale_utente/assets/conferma-eliminazione.png
  PB/documenti_esterni/manuale_utente/assets/dashboard.png
  PB/documenti_esterni/manuale_utente/assets/eliminazione-workflow.png
  PB/documenti_esterni/manuale_utente/assets/lista-vuota.png
  PB/documenti_esterni/manuale_utente/assets/lista-workflow.png
  PB/documenti_esterni/manuale_utente/assets/nome-esistente-workflow.png
  PB/documenti_esterni/manuale_utente/assets/nome-non-presente-workflow.png
  PB/documenti_esterni/manuale_utente/assets/password-diverse.png
  PB/documenti_esterni/manuale_utente/assets/username-non-valido.png
  PB/documenti_esterni/manuale_utente/include/about-us.typ
  PB/documenti_esterni/manuale_utente/include/dashboard.typ
  PB/documenti_esterni/manuale_utente/include/istruzioni-uso.typ
  PB/documenti_esterni/manuale_utente/include/sign-in.typ
  PB/documenti_esterni/manuale_utente/include/sign-up.typ
  PB/documenti_esterni/manuale_utente/manuale-utente.typ
Labels: Manuale utente

#524 Aggiornato UC26
  PB/documenti_esterni/analisi_requisiti/analisi-dei-requisiti.typ
  PB/documenti_esterni/analisi_requisiti/include/definizione_requisiti.typ
  PB/documenti_esterni/analisi_requisiti/include/use_cases.typ
Labels: Analisi dei requisiti

#526 Fix errori backend specifica
  PB/documenti_esterni/specifica_tecnica/include/backend/backend.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/connection_google_request.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/connection_google_response.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/get_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/backend/workflow_name_list.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#537 Standard 9126
  PB/documenti_interni/norme_progetto/include/introduzione.typ
  PB/documenti_interni/norme_progetto/include/metriche.typ
  PB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#538 Aggiornamento norme
  PB/documenti_interni/norme_progetto/include/processi-di-supporto.typ
  PB/documenti_interni/norme_progetto/include/processi-primari.typ
  PB/documenti_interni/norme_progetto/norme-di-progetto.typ
Labels: Norme di progetto

#540 Introduzione e design pattern specifica tecnica
  PB/documenti_esterni/specifica_tecnica/include/frontend/LoginUser_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/autenticazione.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/componenti.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/create_workflow_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/delete_workflow_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/google_token.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/pagine.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/registerUser.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/workflow_name_list_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/introduzione.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#543 Definizione unit test frontend
  PB/documenti_esterni/piano_qualifica/include/definizione-test.typ
  PB/documenti_esterni/piano_qualifica/piano-di-qualifica.typ
Labels: Piano di qualifica

#544 Aggiornamento specifica tecnica
  PB/documenti_esterni/specifica_tecnica/include/frontend/LoginUser_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/autenticazione.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/componenti.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/create_workflow_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/delete_workflow_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/registerUser.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/workflow_name_list_frontend.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#548 Documentato Workflow, componenti e funzionalità
  PB/documenti_esterni/specifica_tecnica/include/frontend/componenti.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/execute_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/get_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/pagine.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/save_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/tecnologie.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica

#550 Uml frontend
  PB/documenti_esterni/specifica_tecnica/assets/frontend/AllWorkflowsService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/CreateWorkflowService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/CustomButton.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/CustomLink.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/CustomNode.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/DeleteWorkflowService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/ExecuteWorkflowService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/Footer.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/GetWorkflowService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/LoginService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/LogoutMenuItem.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/Navbar.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/PersonCard.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/RegisterService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/SaveWorkflowService.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/SignInForm.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/SignUp.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/SignUpForm.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/UserDTO.svg
  PB/documenti_esterni/specifica_tecnica/assets/frontend/WorkflowDTO.svg
  PB/documenti_esterni/specifica_tecnica/include/frontend/LoginUser_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/componenti.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/create_workflow_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/delete_workflow_frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/execute_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/frontend.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/get_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/pagine.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/registerUser.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/save_workflow.typ
  PB/documenti_esterni/specifica_tecnica/include/frontend/workflow_name_list_frontend.typ
  PB/documenti_esterni/specifica_tecnica/specifica-tecnica.typ
Labels: Specifica tecnica
